  <div class="navi">
    <ul class="dropmenu">
      <li><h1 class="blogtitle"><%= link_to '柏羽藤ジャーナル', root_path, class: 'blogtitle2' %></h1></li>
      <li><%= link_to '開店・閉店', '', class: '' %>
        <ul class="submenu">
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
        </ul> <!-- .submenu -->
      </li>
      <li><a href="">グルメ</a>
        <ul class="submenu">
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
        </ul> <!-- .submenu -->
      </li>
      <li><a href="">まとめ</a>
        <ul class="submenu">
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
        </ul> <!-- .submenu -->
      </li>
      <li><a href="">お店</a>
        <ul class="submenu">
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
        </ul> <!-- .submenu -->
      </li>
      <li><a href="">人</a>
        <ul class="submenu">
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
        </ul> <!-- .submenu -->
      </li>
      <li><a href="">ニュース</a>
        <ul class="submenu">
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
        </ul> <!-- .submenu -->
      </li>
      <li><a href="">ギャラリー</a>
        <ul class="submenu">
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
        </ul> <!-- .submenu -->
      </li>
      <li><a href="">イベント</a>
        <ul class="submenu">
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
        </ul> <!-- .submenu -->
      </li>
      <li><a href="">クイズ</a>
        <ul class="submenu">
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
        </ul> <!-- .submenu -->
      </li>
      <li><a href="">サッカー</a>
        <ul class="submenu">
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
        </ul> <!-- .submenu -->
      </li>
      <li><a href="">求人</a>
        <ul class="submenu">
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
        </ul> <!-- .submenu -->
      </li>
      <li><a href="">広告</a>
        <ul class="submenu">
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
        </ul> <!-- .submenu -->
      </li>
      <li><a href="">その他</a>
        <ul class="submenu">
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
          <li><%= link_to '', '', class: '' %></li>
        </ul> <!-- .submenu -->
      </li>
    </ul> <!-- .dropmenu -->
  </div> <!-- .navi -->
  <div class="search-box">
    <div class="seach-left">
    <p>facebook</p>
    <p>insta</p>
    </div>
    <div class="seach-right">
      <form class="cse-search-box" action="">
        <input type="hidden" name="cx" value="partner-pub-5221090124385150:9e4v9emp9jr">
        <input type="hidden" name="ie" value="utf-8">
        <input type="text" name="q" size="31" placeholder="検索キーワードを入力してください">
        <input type="submit" name="sa" value="検索" id="search_btn">
      </form>
    </div> <!-- .seach-right -->
      <!-- <div class="search-left">
          <div class="l-right">
            <ul class="pc-header-login-nav">
              <li><a href="" class="sp-header-btn btn-red">新規会員登録</a></li>
              <li><a href="" class="sp-header-btn header-login">ログイン</a></li>
            </ul>
          </div>
        </div> -->
  </div> <!-- .search-box -->