<div class="container">
<%= render 'posts/header' %>

  <div class="msgb">
  背景画像入れる
  </div> <!-- .msgb -->

    <div class="blogcontainer clearfix">
      <div class="wrapper ">
      <% @posts.each do |post| %>
        <%= link_to "/posts/#{post.id}", class: 'fullbody' do%>
          <div class="blogbody">
            <div class="titlebody_cate">
              <h2 class="title-toppage">
                  <ul class="title_thum">
                    <li><%= image_tag "universal", size: "325x217"%><img class="title-toppage" src="" alt="" width="325" height="217">画像</li>
                    <li class="title">タイトル<%= post.title %></li>
                    <p><%= post.content %>コメントコメントコメントコメント</p>
                  </ul> <!-- .title_thum -->
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
              </h2>
              <div class="posted">at 2019年07月11日08:00
              </div> <!-- .posted -->
            </div> <!-- .titlebody_cate -->
          </div> <!-- .blogbody -->
          <% end %>
        <% end %>
      </div> <!-- .wrapper -->
      <div class="right_title">
      <div class="right_content">広告掲載</div>
      <div class="right_content">広告掲載</div>
      <div class="right_content">広告掲載</div>
      <div class="right_content">広告掲載</div>
        </div>
      </div> <!-- .blogcontainer -->
      <%= paginate(@posts) %>




<%= render 'posts/footer' %>

</div> <!-- .container -->

