<div class="container">
<%= render 'posts/header' %>
<%= @posts.title %>
<%= @posts.content %>
<%= image_tag "universal", size: "325x217"%><img class="title-toppage" src="" alt="" width="325" height="217">
<%= render 'posts/footer' %>
</div> <!-- .container -->
